@use "../partials/variables" as *;

.--split {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    & * {
        width: 55%;
    }

    
}

.main__wrap {
    display: flex;
    flex-direction: column;
}
.hero {
    &__container {
        display: flex;
        justify-content: center;
        background-color: black;    
    }
}
.video {

    &__timer {
        &-bar {
            background-color: $videobar-color;
            width: 70%;
            border-radius: 7px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 3%;

        }
        &-line {
            width: 85%;
            
            border-top: clamp(1px, 0.9vw, 7px) solid black;
            justify-self: center;
            display: flex;
        }

        &-digits {
            display: flex;
            margin-right: 2%;
            font-size: 0.9vw;
            color: white;
            width: 10%;
            
        }
    }



    &__play-btn {
        
        fill: white;

        &--wrap {
            width: 5%;
            background-color: $videobar-color;
            justify-content: center;
            align-items: center;
            display: flex;
            border-radius: 7px;
            & * {
                width: 30%;
            }
        }

    }

    &__options-wrap {
        width: 10%;
        display: flex;
        background-color: $videobar-color;
        border-radius: 7px;
        
    }



    &__wrap {
        display: flex;
        flex-direction: column;
        position: relative;
        background-color: black;
    }


    &__controls {
        margin-bottom: 2.5%;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 7%;
        display: flex;
        justify-content: space-around;
        position: absolute;
        

        
    }

    &__container {
        margin: auto 0;
        width: 100%;
        height: 100%;
        background-color: black;
        
        
    }
}


@media (min-width:768px) {
    .video {

        &__container {
            margin: auto 0;
            max-width: 1268px;
            background-color: black;
            
        }

        
    }
}

@media (min-width: 1250px) {
    .main__wrap {
        display: flex;
        flex-direction: row;
    }
    .video {
        &__timer-digits {
            font-size: 17px;
        }
    }
    .--tablet{
        width: 70%;
        border-right: 1px solid $divider-line;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}