@use "../partials/variables" as *;

.header {
    
    &__flex-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 20px;
        
        margin-top: 20px;
        width: 100%;
    }
    
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 20px;
        
        margin-top: 20px;
    }


    &__svg {
        fill: black;
        max-height: 25px;
        max-width: 120px;
        
    }

    &__user-img {
        height: 53px;
        width: 53px;
        border-radius: 100px;
        margin-left: 20px;
    }

    &__search-bar {
        height: 35px;
        flex-grow: 3;
        padding-left: 30px;
        max-width: 450px;
        display: flex;
        background-color: $form-field;
        border: $divider-line 2px solid;
        border-radius: 5px;
        padding: 7px 0 7px 35px;
        
        
        

        
    }
    &__upload-userImg {
        display: none;
    }

    &__anchor {
        position: relative;
        display: flex;
        flex-grow: 3;
    }

    &__searchSvg {
        position: absolute;
        left: 15px;
        top: 18px;
        
    }

    &__search-wrap {
        width: 90%;
        max-width: 490px;
        display: flex;
        justify-content: center;
        
    }

    

    &__upload-btn {
        
        width: 100%;
        
        background-color: $primary-cta;
        color: $background-color;
        border-radius: 5px;
        border: transparent;
        max-width: 490px;
        justify-content: center;
        align-items: center;
        padding: 0;
        display: flex;

        
    }

    &__uploadSvg {
        fill: black;
        position: absolute;
        top: 13px;
        left: 5px;
        
        background-color: $primary-cta;
        
    }

    &__upload-wrap {
        width: 90%;
        position: relative;
        display: flex;
        justify-content: center;
        max-width: 490px;
        height: 53px;
    }

    

    &__logo-wrap {
        width: 90%;
        display: flex;
        justify-content: center;
        
    }
}




@media (min-width: 768px) {
    .header {
        &__container {
            flex-direction: row;
            justify-content: space-around;
            align-content: center;
            
        }

        &__flex-wrap {
            flex-direction: row;
            align-items: center;
            width: fit-content;
            margin: 0;
            column-gap: 20px;
        }

        &__logo-wrap {
            justify-self: flex-start;
            width: auto;
            // justify-content: start;
        }

        &__search-wrap {
            max-width: 350px;
            
            
        }

        &__upload-userImg {
            border-radius: 100px;
            width: 53px;
            height: 53px;
            display: flex;
            
        }

    


        &__upload {

            &-wrap {
                column-gap: 20px;
            }
            &-btn {
                
                width: 200px;
            }

            // &-wrap {
                
            // }
            
        }

        &__user-img {
            display: none;
        }
    }
}