@use "../partials/variables" as *;

.header {

    
    
    &__flex-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 20px;
        width: 100%;
       
    }
    
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin-top: 20px;
        
    }


    &__svg {
        fill: black;
        max-height: 25px;
        max-width: 120px;
        
    }

    &__user-img {
        height: 53px;
        width: 53px;
        border-radius: 100px;
        margin-left: 20px;
    }

    &__search-bar {
        height: 35px;
        flex-grow: 3;
        padding-left: 30px;
        max-width: 450px;
        display: flex;
        background-color: $form-field;
        border: $divider-line 2px solid;
        border-radius: 5px;
        padding: 7px 0 7px 35px;

        &:focus {
            outline: $primary-cta;
            border: 2px solid $primary-cta;
        }
        
        
        

        
    }
    &__upload-userImg {
        display: none;
    }

    &__uploadbtn-wrap {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        max-width: 490px;
        height: 53px;
    }

    &__anchor {
        position: relative;
        display: flex;
        flex-grow: 3;
    }

    &__searchSvg {
        position: absolute;
        left: 15px;
        top: 18px;
        
    }

    &__search-wrap {
        width: 100%;
        max-width: 490px;
        display: flex;
        justify-content: center;
        
    }

    

    &__upload-btn {
        
        width: 100%;
        height: 100%;
        
        background-color: $primary-cta;
        color: $background-color;
        border-radius: 5px;
        border: transparent;
        max-width: 490px;
        justify-content: center;
        align-items: center;
        padding: 0;
        display: flex;
        text-decoration: none;

        & * {
            background-color: $primary-cta;
            color: $background-color;
            border: transparent;
            width: 100%;
            height: 100%;
            border-radius: 5px;

            &:hover {
                background-color: $hover-color;
            }
        }

        

        &:visited {
            text-decoration: none;
        }

        
    }

    &__uploadSvg {
        fill: black;
        position: absolute;
        top: 13px;
        left: 5px;
        
        
        
    }

    &__upload-wrap {
        width: 100%;
        
        display: flex;
        justify-content: center;
        max-width: 490px;
        height: 53px;
    }

    

    &__logo-wrap {
        
        display: flex;
        justify-content: center;
        
    }
}




@media (min-width: 768px) {
    .header {

        
        &__container {
            flex-direction: row;
            justify-content:space-between;
            align-content: center;
            
            
        }

        &__flex-wrap {
            flex-direction: row;
            align-items: center;
            width: 70%;
            margin: 0;
            column-gap: 20px;
            justify-content: end;
            
        }

        

        

        &__upload-userImg {
            border-radius: 100px;
            width: 53px;
            height: 53px;
            display: flex;
            
        }

        &__upload-wrap {
            width: 70%;
            min-width: 200px;
            column-gap: 20px;
            max-width: 330px;
        }

        &__search-bar {
            min-width: 310px;
        }

        

    


        

        &__user-img {
            display: none;
        }
    }
}