

$primary-text: #323232;
$primary-cta: #0095FF;
$secondary-text: #AFAFAF;
$background-color: #FFFFFF;

$video-darkblack: #000000;
$hover-color:#0065AD;
$divider-line: #E1E1E1;
$form-field: #FAFAFA;
$videobar-color: rgba($color: #000000, $alpha: 0.3);