.header__flex-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  margin-top: 20px;
  width: 100%;
}
.header__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  margin-top: 20px;
}
.header__svg {
  fill: black;
  max-height: 25px;
  max-width: 120px;
}
.header__user-img {
  height: 53px;
  width: 53px;
  border-radius: 100px;
  margin-left: 20px;
}
.header__search-bar {
  height: 35px;
  flex-grow: 3;
  padding-left: 30px;
  max-width: 450px;
  display: flex;
  background-color: #FAFAFA;
  border: #E1E1E1 2px solid;
  border-radius: 5px;
  padding: 7px 0 7px 35px;
}
.header__upload-userImg {
  display: none;
}
.header__anchor {
  position: relative;
  display: flex;
  flex-grow: 3;
}
.header__searchSvg {
  position: absolute;
  left: 15px;
  top: 18px;
}
.header__search-wrap {
  width: 90%;
  max-width: 490px;
  display: flex;
  justify-content: center;
}
.header__upload-btn {
  width: 100%;
  background-color: #0095FF;
  color: #FFFFFF;
  border-radius: 5px;
  border: transparent;
  max-width: 490px;
  justify-content: center;
  align-items: center;
  padding: 0;
  display: flex;
}
.header__uploadSvg {
  fill: black;
  position: absolute;
  top: 13px;
  left: 5px;
  background-color: #0095FF;
}
.header__upload-wrap {
  width: 90%;
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 490px;
  height: 53px;
}
.header__logo-wrap {
  width: 90%;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .header__container {
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
  }
  .header__flex-wrap {
    flex-direction: row;
    align-items: center;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .header__logo-wrap {
    justify-self: flex-start;
    width: auto;
  }
  .header__search-wrap {
    max-width: 350px;
  }
  .header__upload-userImg {
    border-radius: 100px;
    width: 53px;
    height: 53px;
    display: flex;
  }
  .header__upload-wrap {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .header__upload-btn {
    width: 200px;
  }
  .header__user-img {
    display: none;
  }
}
.--split {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.--split * {
  width: 55%;
}

.main__wrap {
  display: flex;
  flex-direction: column;
}

.hero__container {
  display: flex;
  justify-content: center;
  background-color: black;
}

.video__timer-bar {
  background-color: rgba(0, 0, 0, 0.3);
  width: 70%;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3%;
}
.video__timer-line {
  width: 85%;
  border-top: clamp(1px, 0.9vw, 7px) solid black;
  justify-self: center;
  display: flex;
}
.video__timer-digits {
  display: flex;
  margin-right: 2%;
  font-size: 0.9vw;
  color: white;
  width: 10%;
}
.video__play-btn {
  fill: white;
}
.video__play-btn--wrap {
  width: 5%;
  background-color: rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 7px;
}
.video__play-btn--wrap * {
  width: 30%;
}
.video__options-wrap {
  width: 10%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 7px;
}
.video__wrap {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: black;
}
.video__controls {
  margin-bottom: 2.5%;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 7%;
  display: flex;
  justify-content: space-around;
  position: absolute;
}
.video__container {
  margin: auto 0;
  width: 100%;
  height: 100%;
  background-color: black;
}

@media (min-width: 768px) {
  .video__container {
    margin: auto 0;
    max-width: 1268px;
    background-color: black;
  }
}
@media (min-width: 1250px) {
  .main__wrap {
    display: flex;
    flex-direction: row;
  }
  .video__timer-digits {
    font-size: 17px;
  }
  .--tablet {
    width: 70%;
    border-right: 1px solid #E1E1E1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
.content--absolute {
  position: absolute;
  left: -30px;
  top: 3px;
}
.content__date {
  color: #AFAFAF;
}
.content__author {
  font-weight: 700;
}
.content__video-views {
  position: relative;
  color: #AFAFAF;
}
.content__video-likes {
  position: relative;
  color: #AFAFAF;
}
.content__container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  flex-direction: column;
}
.content__column--wrap {
  display: flex;
  flex-direction: column;
  width: 50%;
  row-gap: 15px;
}
.content__video-info {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding: 10px 0;
  border-top: 2px solid #E1E1E1;
  border-bottom: 2px solid #E1E1E1;
}

@media (min-width: 768px) {
  .flex-right {
    justify-content: flex-end;
    -moz-column-gap: 70px;
         column-gap: 70px;
  }
  .flex-left {
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
  .content__video-info {
    border-top: transparent;
  }
  .content__column--wrap {
    flex-direction: row;
  }
  .content__header {
    margin-bottom: 0;
  }
}
@media (min-width: 1268px) {
  .content__container {
    margin: 0;
  }
  .content__video-info {
    padding-right: 2.5%;
  }
}
.--smartphone-none {
  display: none;
}

.user-comment__anchor {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.user-comment__container {
  width: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  border-top: 1px solid #E1E1E1;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.user-comment__headers-wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}
.user-comment__headers-anchor {
  position: relative;
}
.user-comment__user-img {
  width: -moz-min-content;
  width: min-content;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  align-self: stretch;
}

.comment__headers-wrap {
  display: flex;
  justify-content: space-between;
}
.comment__headers-anchor {
  position: relative;
}
.comment__svg {
  position: absolute;
  top: 7px;
  left: 10px;
}
.comment__btn {
  height: 40px;
  width: 100%;
  background-color: #0095FF;
  color: #FAFAFA;
  border: transparent;
  border-radius: 5px;
}
.comment__input-area {
  height: 100px;
  border: 1px solid #E1E1E1;
  background-color: #FAFAFA;
  border-radius: 5px;
  padding: 10px 0 0 10px;
  font-size: 1rem;
}
.comment__input-area::-moz-placeholder {
  color: black;
}
.comment__input-area::placeholder {
  color: black;
}
.comment__user-img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}
.comment__anchor-left {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.comment__anchor-right {
  position: relative;
  width: 100%;
  display: flex;
}
.comment__container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.comment__form-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-self: flex-end;
  row-gap: 10px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.comment__form-header {
  color: #AFAFAF;
  position: absolute;
  top: -20px;
}

@media (min-width: 768px) {
  .user-comment__container {
    width: 100%;
  }
  .--smartphone-none {
    display: block;
  }
  .--none {
    display: none;
  }
  .comment__anchor-left {
    flex-direction: row;
  }
  .comment__form-container {
    width: 100%;
    flex-direction: row;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .comment__input-area {
    height: 28px;
    width: 60%;
  }
  .comment__user-img {
    position: static;
  }
  .comment__anchor-left {
    width: 100%;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .comment__anchor-right {
    width: 37.5%;
    padding-right: 2.5%;
  }
  .comment__form-container {
    margin: 20px 0;
  }
}
@media (min-width: 1268px) {
  .comment__container {
    margin: 0;
  }
  .comment__date {
    padding-right: 2.5%;
  }
  .comment__user-comment {
    padding-right: 2.5%;
  }
}
.video-feed__info-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3px 0;
}
.video-feed__info-wrap * {
  margin: 0;
}
.video-feed__img {
  background-color: #E1E1E1;
  border-radius: 6px;
  width: 140px;
}
.video-feed__container {
  row-gap: 20px;
  display: flex;
  flex-direction: column;
}
.video-feed__container h2 {
  width: 90%;
  margin: 0 auto;
}
.video-feed__video-wrap {
  width: 90%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  row-gap: 20px;
}

@media (min-width: 1268px) {
  .video-feed__container {
    width: 40%;
    align-items: flex-start;
  }
  .video-feed__video-wrap {
    margin: 0;
    width: 60%;
    margin-left: 4%;
  }
}
.App {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}/*# sourceMappingURL=App.css.map */