@use "./styles/partials/header" as *;
@use "./styles/partials/body" as *;
@use "./styles/partials/content" as *;
@use "./styles/partials/commentFeed" as *;
@use "./styles/partials/videoFeed" as *;
.App {
    
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-family: avenir;
    
}